//-
//-  This is a JADE comment
//-
// but this is an xml comment 
- var a = 42
- var b = [1,2,3,4]
- var f = function(arg) {
-    return "RESID " + arg
- }
include ./includes/passenger.jade
root  
  myNumber= 42
  myList
    each val in b
        tour 
          reservation= f(val)
          passengers 
            +passenger('Joe', 'smith', '1995-03-03')
            +passenger('Jane', 'smith', '1998-08-05')